<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         name="Metascape AMP Distribution"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Metascape Agent Modeling Platform IDE (integrated development environment)."
            name="Metascape AMP">
      <property
            name="introTitle"
            value="Welcome to the Agent Modeling Platform"/>
      <property
            name="introBrandingImage"
            value="product:icons/AMPLogo64.gif"/>
      <property
            name="introDescription-overview"
            value="Find out about the Agent Modeling Platform and bundled tools. Explore the workbench and Java developement environments."/>
      <property
            name="introDescription-samples"
            value="Explore models that have already been created for AMP and Escape.">
      </property>
      <property
            name="introBrandingImageText"
            value="Metascape, LLC"/>
                     <property
               name="appName"
               value="Metascape AMP">
         </property>
         <property
               name="aboutText"
               value="Metascape AMP&#x0A;Version: 1.0 Beta&#x0A;&#x0A;Metascape, Escape © 2011 Metascape, LLC and contributors&#x0A;all rights reserved worldwide&#x0A;Ascape © 1998-2010 Metascape, LLC, The Brookings Institution, Nutech Solutions, Documentation © 2002-2010 Miles Parker, Damon Centola&#x0A;Score and Repast © 2006-2007 Argonne National Laboratory&#x0A;&#x0A;Visit http://metascapeabm.com">
         </property>
         <property
               name="windowImages"
               value="icons/AMPLogo16.png,icons/AMPLogo32.png,icons/AMPLogo48.png,icons/AMPLogo64.png,icons/AMPLogo128.png">
         </property>
         <property
               name="startupProgressRect"
               value="0,330,512,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupMessageRect"
               value="7,310,512,20">
         </property>
      </product>
   </extension>
  <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.metascape.amp.product">
      </introProductBinding>
   </extension>
     <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.intro.universal.ExtensionFactory:welcomeCustomization"
            id="com.metascape.amp"
            name="Agent Modeling Customization">
         <keywordReference id="org.eclipse.ui.ide.appearance"/>
      </page>
   </extension>

</plugin>
